* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-decoration: none;
    color: white;
}

.navbar {
    height: 3.75em ;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */

.nav-logo {
    height: 3.75em ;
    width: 10em; 
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: contain;
    height:100% ;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* address */

.nev-address {
    height: 3.75em;
    width: 6.875em;
    display: flex;
    align-items: center;

}

.add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.up {
    font-size: 0.75em;
    color: #cccccc;
    margin-left: 15px;
}

.down {
    font-size: 0.875em;
    margin-left: 3px;
}

/* SEARCH */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 2.5em;
    width: 60%;

   
}

.nav-search:hover{
    border: 1.5px solid orange;
}

.s-select {
    background-color: #f3f3f3;
    color: black;
    width: 3.125em;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.s-input {
    color: black;
    width: 100%;
    border: none;
    font-size: 1rem;
       
}

.search-icon {
    width: 2.8125em;
    border: none;
    background-color: rgb(245, 162, 7);
    color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}

span{
    font-size: 0.75rem;

}

.downn {
    height:3.125em;
    width:8.125em;
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-signin{
    height: 3.125em;
    width: 8.125em;
    display: inline-block;
}

.nav-returns {
    height: 3.125em;
    width: 4.6875em;
    display:inline-block;
    
}

/* cart */

.nav-cart i {
    font-size:  2em ;
}

.nav-cart {
    height: 3.125em;
    width: 5.3125em;
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}    


/* PANEL */

.panel{
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: #37475A;
    font-size: 0.75em;
}

.p-all {
    height:2.5em ;
    width:3.75em ;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.p-all i {
    font-size: 1.05em;
    margin-right: 5px;
}

.p-today {
    height: 2.5em;
    width:6.25em;
    display: flex; 
    justify-content: center;
    align-items: center

}

.p-cus-ser {
    height: 2.5em;
    width:8.125em;
    display: flex; 
    justify-content: center;
    align-items: center

}

.p-reg {
    height: 2.5em;
    width: 4.375em;
    display: flex; 
    justify-content: center;
    align-items: center

}

.p-gift-c {
    height: 2.5em;
    width: 5em;
    display: flex; 
    justify-content: center;
    align-items: center
}

.p-sells {
    height: 2.5em;
    width: 2.5em;
    display: flex; 
    justify-content: center;
    align-items: center
}

                                                      /* hero section*/
.hero-section {
    background-image: url("hero.jpg");
    background-size: cover;
    height: 21.875em;
    display: flex;
    
}

                                                   /* shop section */


.shop-sec{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(250,221,218);
    color: black;
    padding-bottom: 15px;
}

.box{
    height: 26.25em;
    width: 23%;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 1.3125em;
    color: black;
    font-weight: 700;
    margin: 10px;
    margin-left: 15px ;
    margin-top: 15px;
}

.a-a{
    color:#007185;
    margin: 15px;
}

.a-a:hover{text-decoration: underline;}

.box1-img{
    background-image: url("box6.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;

}


.box2-img {
    background-image: url("box2.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;

}

.box3-img{
    background-image: url("box3.jpg");
    background-size: contain;
    background-repeat:repeat;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}

.box4-img {
    background-image: url("box4.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}

.box5-img {
    background-image: url("box2_image.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}

.box6-img {
    background-image: url("box5.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}

.box7-img {
    background-image: url("box7.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}

.box8-img {
    background-image: url("box8.jpg");
    background-size: cover;
    height: 18.75em;
    width: 90%;
    margin: 15px;
}





                                                    /* footer */

.foot1{
    height: 3.125em;
    background-color: #37475a;
    font-size:0.80em;
    display: flex;
    align-items: center;
    justify-content: center;

}
                                                     /* foot 2 */
.foot2 {
    background-color:#232f3e ;
    height:28.125em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
     
.foot2 ul {
    height: 20em;
    
    
}                  

.foot2 p {
    font-size: 1em;
    margin: 6px 0px 14px;
    font-weight: 700;
}                                 a:hover{text-decoration: underline;}

.foot2 a{
     display: block;
     font-size: 0.875em;
     color:#dddddd;
     margin-bottom: 10px;
     margin-top: 10px;
}


.foot3 {
    height: 4.375em;
    background-color: #232f3e;
    border-top: .3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;


}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 3.125em ;
    width:5em;
    

}

.copy{
    background-color: #0f1111;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.as {
    height: 1.25em;
    font-size: 0.75em;
    color:#dddddd ;
    display: flex;
    justify-content: center;
}

.copy p {
    height: 1.25em;
    font-size: 0.75em;
    color:#dddddd ;
    display: flex;
    justify-content: center;
}

.copy a {
    margin-left: 5px;
    margin-right: 5px;
}
